@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Monaco', monospace;
}
.sidebar {
  position: absolute;
  left: 0px;
  width: 250px;
  height: 230vh;
  background:  #ecc6c6;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: black;
  line-height: 70px;
  text-align: center;
  background: #ecc6c6;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: black;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  
  top: 18px;
  padding-left: 250px;
  font-size: 30px;
  color: navy;
  padding: 4px 9px;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: 195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: -250px;
}
#check:checked ~ label #btn{
  left: 180px;
  opacity: 1;
  pointer-events: auto;
}
#check:checked ~ label #cancel{
  left: -195px;
}
#check:checked ~ section{
  margin-left: 0px;
}
section{
  background-color: white ;
  background-position: center;
  background-size: cover;
  height: 230vh;
  transition: all .5s;
  margin-left: -250px;
}

.isi{
  width: 100%; 
  height: 50%;
  float: center; 
  text-align: center;
  padding: 5px;
  background-color: white;
}

.project{
  background-color: #993333; 
  color: white; 
  text-align: left; 
  padding: 20px;
  font-family: 'Courier New', monospace;
}

.gam{
  width: 80%; 
  float: left; 
  color: black;
  transition: all .5s;
}
.grafik{
  width: 80%; 
  float: center; 
  color: black;
  transition: all .5s;
  text-align: center;
}

.footer{
  background-color: #993333; 
  color: white; 
  text-align: right; 
  padding: 17px; 
  clear: both;
  font-family: 'Monaco', monospace;
  font-size: 20px;
}
.tab{
  color: black;
  padding-bottom: 50px;  
}
.kuis{
  color: black;
  padding-left: 50px;
}